.content {
  margin-top: 25px;
}

.title {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.hobbyContent {
  margin-top: 25px;
}

.slider-image {
  height: 450px;
}

footer{
  background-color: #2c2b31;
  text-align: center;
  color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;

}

.ornek{
  width: 1100px;
  margin:auto;
  text-align: center;
  }
  .saga-kaydir{
  float:left;
  padding:0 0 10px 10px;
  width: 700px;
  }

 